<h1 mat-dialog-title
  style="font-size: 1.125rem; text-align: center; font-family: 'Inter', sans-serif; margin-bottom: 10px;">Create Parcel
</h1>
<div mat-dialog-content [formGroup]="form" class="flex flex-col gap-4">
  <mat-form-field appearance="fill">
    <mat-label>Customer</mat-label>
    <input type="text" matInput [formControl]="form.controls['customerId']" [matAutocomplete]="autoCustomer"
      style="font-size: 0.875rem; line-height: 1.23rem; font-family: 'Inter', sans-serif;"
      (input)="onCustomerInput($event.target.value)" autocomplete="off" />
    <mat-autocomplete #autoCustomer="matAutocomplete" (optionSelected)="onCustomerSelected($event.option.value)"
      [displayWith]="customerDisplayFn">
      <mat-option *ngFor="let customer of filteredCustomers$ | async" [value]="customer">
        <span>{{ customer.firstName }} {{ customer.lastName }}</span>
        <span style="color: #888; font-size: 0.8em; margin-left: 10px;">{{ customer.phoneNumber }}<span
            *ngIf="customer.emailAddress"> {{
            customer.emailAddress }}</span></span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Receiver</mat-label>
    <input type="text" matInput [formControl]="form.controls['receiverId']" [matAutocomplete]="autoReceiver"
      style="font-size: 0.875rem; line-height: 1.23rem; font-family: 'Inter', sans-serif;"
      (input)="onReceiverInput($event.target.value)" autocomplete="off" />
    <mat-autocomplete #autoReceiver="matAutocomplete" (optionSelected)="onReceiverSelected($event.option.value)"
      [displayWith]="receiverDisplayFn">
      <mat-option *ngFor="let customer of filteredReceivers$ | async" [value]="customer">
        <span>{{ customer.firstName }} {{ customer.lastName }}</span>
        <span style="color: #888; font-size: 0.8em; margin-left: 10px;">{{ customer.phoneNumber }}<span
            *ngIf="customer.emailAddress"> {{
            customer.emailAddress }}</span></span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Destination ID</mat-label>
    <input matInput formControlName="destinationId"
      style="font-size: 0.875rem; line-height: 1.23rem; font-family: 'Inter', sans-serif;" />
  </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: center; align-items: center; gap: 12px;">
  <button style="background-color: #1D4ED8; color: white;" mat-flat-button (click)="save()" cdkFocusInitial
    class="custom-primary-btn">Save</button>
  <button mat-flat-button [mat-dialog-close]="false"
    style="border: 1.5px solid #888; background: transparent;">Cancel</button>
</div>