<h1 mat-dialog-title>Create Parcel</h1>
<div mat-dialog-content [formGroup]="form" class="flex flex-col gap-4">
  <mat-form-field appearance="fill">
    <mat-label>Customer ID</mat-label>
    <input matInput formControlName="customerId" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Receiver ID</mat-label>
    <input matInput formControlName="receiverId" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Destination ID</mat-label>
    <input matInput formControlName="destinationId" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex justify-end gap-2">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="loading">Save</button>
</div>
