<div class="flex flex-col gap-4" style="width: 100%; padding: 20px;">
  <div class="flex justify-end">
    <button mat-raised-button (click)="openCreate()" class="custom-primary-btn">
      <mat-icon style="color: #fff;">add</mat-icon>
      Add Driver
    </button>
  </div>
  <div class="flex flex-col flex-1 min-h-0 bg-white rounded-lg shadow-md overflow-hidden">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 w-100">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let row">{{ row.phoneNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="licenseNumber">
        <th mat-header-cell *matHeaderCellDef>License</th>
        <td mat-cell *matCellDef="let row">{{ row.licenseNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let row">{{ row.createdAt | date:'short' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [length]="dataSource.data.length" [pageSize]="10"
    (page)="load($event.pageIndex, $event.pageSize)"></mat-paginator>
</div>