<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Top Row Actions -->
        <div class="flex items-center justify-between w-full">
            <div class="tour-step-welcome">
                <div class="text-3xl font-semibold tracking-tight leading-8">
                    Dashboard
                </div>
                <p class="p tracking-tight leading-8">
                    Welcome back! Here's what's happening today.
                </p>
            </div>
        </div>

        <!-- Top Row Dashboard Cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 dashboard-tiles">
            <!-- Metric 1 Tile -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                        Processing
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-6xl sm:text-6xl font-bold tracking-tight leading-none text-red-500">
                        {{ 2 }}
                    </div>
                </div>
            </div>

            <!-- Metric 2 Tile -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                        In Transit
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-6xl sm:text-6xl font-bold tracking-tight leading-none text-red-500">
                        {{ 4 }}
                    </div>
                </div>
            </div>

            <!-- Metric 3 Tile -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                        Delivered
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-6xl sm:text-6xl font-bold tracking-tight leading-none text-red-500">
                        {{ 2 }}
                    </div>
                </div>
            </div>

            <!-- Metric 4 Tile -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                        Total Process
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-6xl sm:text-6xl font-bold tracking-tight leading-none text-red-500">
                        {{ 5 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>